*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header{
    display: flex;
    justify-content:space-between;
    border-bottom: 2px solid rgb(187, 3, 187);
    background-color: #384045;
}

#header_title{
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
}

.navbar{
    padding: 10px;
}


.navbar a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

a:hover{
    background-color:#16181a ;
}

#a_services:visited{
    color:rgb(187, 3, 187);
}

.main{
    height: 33rem;
    margin: 10px 30px;
    width: 68%;
    
}

.article{
    padding: 1rem 0.8rem;
    background-color: rgba(231, 231, 229, 0.616);
    margin-bottom: 0.2rem;
    line-height: 1.8rem;
}

.article h3{
    margin-bottom: 0.5rem;
}

.main h2{
    padding:0.5rem 0;
}

.main_side{
    display: inline-block;
    width: 25%;
    float: right;
    background-color: #384045;
    margin: 1rem 1.5rem;
    color: white;
    padding: 0.5rem;
}

.input-box>input,
#message{
    width: 100%;
    min-height: 1.8rem;
    outline: none;  
    padding-left: 0.5rem; 
}

#send{
    padding: 0.3rem 1rem;
    background-color: tomato;
    color: white;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}

.article2{
    background-color: #384045;
    color: white;
}

#subscribe{
    background-color: #384045;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.2rem 1rem 1rem ;
}

#email{
    padding: 5px;
    outline: none;
}

#subscribe_btn{
    background-color: tomato;
    color: white;
    padding: 7px;
    border-style: none;
    cursor: pointer;
}

#footer{
    background-color: #384045;
    text-align: center;
    color: white;
    padding: 1rem;
}

#footer_logo img{
    width: 13rem;
}
